@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .inter-font{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* Shared styles */
  .display-flex{
    display: flex;
    }
  .background{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  /* header styles */
  /* Navbar related styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
    margin: 50px 70px;
}
  .btn-primary{
    font-family: "Poppins", serif; 
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #E02C6D;
    border-radius: 41px;
    border: none;
    padding: 10px 38px;
}

  
  .brand-title{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #3A3A3A;
  }
  .nav-links{
    
    
  }
  .nav-link{
    color: #3A3A3A;
    text-decoration: none;
    
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 1rem;
  }
  /* Banner related styles */
.banner{
    justify-content: space-between;
    margin: 50px 70px;
}
.banner-content{
    max-width: 580px;
    margin-top: 40px;
}
.banner-title{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 3.25rem;
    color: #3A3A3A;
}
.banner-description{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 1rem;
    color: #3A3A3A;
}
.banner-image{
    width: 100%;
     ;
}
/* Sponsor related styles */
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 130px 130px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px  rgba(0, 0, 0, 0.25);
    max-width: 1500px;
    min-height: 110px;
    align-items: center;
    padding-left: 50px;
   
}
/* Collection related styles */
.Collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1500px;
    margin: 60px 140px;
}
.collections-title{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 1.75rem;
    color: #3A3A3A;
    text-align: center;
    
}
.collection-image{
    width: 100%;
}
.Collection-item{
box-shadow: 0px 0px 4px 0px rgba(107, 50, 50, 0.25);
gap: 20px;
padding: 12px 10px;
border-radius: 5px;

}
.title{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 1.75rem;
    color: #18191F;
}
.collection-price{
    font-family: "Inter", serif;
    font-weight:400 ;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
}
.collection-info{
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: #787885;
}
.star{
  color: #FB8200;
  width: 0.000001px;
}
.explore-option{
  
}
.more{
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(224, 44, 109, 0.87);
  text-align: right;
  margin-right:142px;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
 .navbar,
 .nav-links,
 .banner{
    flex-direction:column;
}   
.banner{
    flex-direction: column-reverse;
}
.background{
    margin: 20px auto ;
 }

 .sponsor-companies{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 15px;
    padding-right: 50px;
 }
 .logo-image{
   width: 100%;
   height: auto;
   
}
.Collections{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 15px;
}

}

/* Medium size devices */
@media screen and (min-width:576px) and (max-width:992px) {
    
.banner{
    flex-direction: column;
}
.sponsor-companies{
   grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
}
}
  

  
  
  


  
 
  

  
  
  